/* Move your styles here when you're ready to clean up your HTML file */

/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */
h1 {
	font-size: 35px;
	font-family: "Times New Roman", Serif; 
	text-decoration: underline;  
}

h2 {
	font-size: 20px;
	font-family: "Times New Roman", Serif; 
	text-decoration: underline;  
}

header {
	border-bottom: 5px dotted blue;
}

.square {
	background: #222222;
	color: white;
	border: 1px solid white; 
}

#item {
	font-size: 30px
}

#item2 {
	text-align: right; 
}

ol {
	background-color: grey;
	padding: 2%;
}